{% extends "base.html.twig" %}

{% block title %}
    Cadastro Produto -
{% endblock %}

{% block body %}
    <h1>Cadastrar Produto</h1>
    <hr>

    {% include "produto/_form.html.twig" %}
{% endblock %}