{% extends 'base.html.twig' %}

{% block title %}Listagem de Produtos -{% endblock %}

{% block body %}
    {% for flashMessage in app.session.flashbag.get("success") %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}
    <h1>Listando Produtos</h1>
    <hr>

    <a href="{{ path('cadastrar-produto') }}" class="btn btn-primary btn-lg float-right">Adicionar Produto</a>

    <table class="table table-striped table-hover mt-3">
        <thead>
        <tr>
            <th>Cod.</th>
            <th>Nome</th>
            <th>Preço</th>
            <th>Ações</th>
        </tr>
        </thead>

        <tbody>
            {% for produto in produtos %}
                <tr>
                    <td>{{ produto.id }}</td>
                    <td>{{ produto.nome }}</td>
                    <td>R$ {{ produto.preco|number_format(2, ",", ".") }}</td>
                    <td>
                        <a class="btn btn-sm btn-warning" href="{{ path('visualizar-produto', {'id': produto.id}) }}"><i class="fa fa-eye"></i></a>
                        <a class="btn brn-sm btn-success" href="{{ path('editar-produto', {'id': produto.id}) }}"><i class="fa fa-pencil-alt"></i></a>
                        <a class="btn btn-sm btn-danger" href=""><i class="fa fa-trash"></i></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
