{% extends "base.html.twig" %}

{% block title %}
    Editar Produto -
{% endblock %}

{% block body %}
    <h1>Editar Produto - {{ produto.nome }}</h1>
    <hr>

    {% include "produto/_form.html.twig" %}
{% endblock %}