{% extends "base.html.twig" %}

{% block title %}
Visualização de Produto -
{% endblock %}

{% block body %}
    <h1>Visualizar Produto - {{ produto.nome }} </h1>

    <table class="table table-striped">
        <tbody>
        <tr>
            <td>Cod.</td>
            <td>{{ produto.id }}</td>
        </tr>
        <tr>
            <td>Nome</td>
            <td>{{ produto.nome }}</td>
        </tr>
        <tr>
            <td>Preço</td>
            <td>R$ {{ produto.preco|number_format(2, ",", ".") }}</td>
        </tr>
        <tr>
            <td>Descricao</td>
            <td>{{ produto.descricao|nl2br() }}</td>
        </tr>
        </tbody>
    </table>
{% endblock %}